body {
    background-color: #c6ffff;
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.place {
    font-style: italic;
}