body {
    background-color: #c6ffff;
    padding:5%;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.place {
    font-style: italic;
}
.prim-hab-1{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    background-color: rgb(19, 189, 201);
}
.prim-hab-2 {
    font-size: 24px;
}
.prim-hab-3 {
    font-size: 23px;
    font-weight: 600;
    font-style: italic;
    background-color: rgb(19, 189, 201);
}
.sec-hab-1 {
    font-size: 20px;
}
.sec-hab-2 {
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    background-color: rgb(19, 189, 201);
}
.sec-hab-3 {
    font-size: 18px;
}
.sec-hab-4 {
    font-size: 17px;   
    font-weight: 600; 
    font-style:italic;
    background-color: rgb(19, 189, 201);
}
    
.image-conteiner {
    border: 2px solid rgb(19, 189, 201);
    height: 440px;
}
#foto {
    float: left;
    height: 420px;
    padding: 10px;
    background-color: rgb(9, 252, 211);
}
