header {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #222222;
  color: aliceblue;
}



#img-react {
  width: 200px;
}

#img-js {
  width: 80px;
}

#img-daniel {
  width: 300px;
}

#main {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
  flex-wrap: nowrap;
}

#main-text {
  margin-top: -20px;
  padding: 20px;
  font-size: medium;
  text-align: justify;
  margin-right: 60px;
}

#about-me {
  padding-top: -40px;
}

#footer_text {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  position:absolute;
  bottom:0;
  width:100%;
}

#play-trivia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#game {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#load {
  display: flex;
  justify-content: center;
}
